@import url(http://fonts.googleapis.com/css?family=Crushed|Handlee|Lobster|Short+Stack);
body{
    background: url('../_images/paper.png');
 }
body > .row:nth-of-type(2) {
	font-family: 'Short Stack', cursive;
	padding: 1% 2%;
}
.red {
	color: red;
}
p.note {
	font-size: .8em;
	color: #AD5210;
	margin: 0;
}
p.indent {
	text-indent: 1em;
}
panel h1 {
    color: #000;   
}
.duck {
    top: .25em;
}
.larger {
	font-size: 1.5em;
}
.highlight {
	background: #FFC79E;
}
.centerB {
	display: block;
}
.fullHeight {
	height: 40em;
}
.vert-center {
	top: 10%;
}
.cco hr {
    margin: 0.5em 0px;
	border-style: dashed;
	border-color: #CFCFFF;
}
.bold {
    font-weight: bold;
}
/*	 Rows	 */
.row {
	max-width: 95%;
	position: relative;
}
.row .row {
	margin: 0 auto;
	max-width: 100%;
}
body > .row > .columns > .row {
	margin-bottom: 2%;	
}
/*	 Header	 */
body > .row:first-of-type > header > h1 {
	color: #68C6F2;
	font: 3em 'Crushed', cursive;
	margin: 0 auto;
	text-shadow:0px 0px 0 rgb(10,124,155),1px 1px 0 rgb(-5,109,140),2px 2px 0 rgb(-19,95,126),3px 3px 0 rgb(-34,80,111),4px 4px 0 rgb(-48,66,97),5px 5px 0 rgb(-63,51,82), 6px 6px 0 rgb(-77,37,68),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
header > h2 {
	color: #000;
	font: 1em 'Handlee', cursive;;
	margin-top: 0;
	text-shadow: 0 0px 2px #000;
}
h1 {
	font: 1.5em "Short Stack",cursive;
	color: #FF8C43;
	text-shadow: 0px 0px 1px #000;
	margin: 0px auto 1%;
}
h2 {
    font: 1.3em 'Short Stack', cursive;
}
h3 {
    font: 1em 'Short Stack', cursive;
}

/*	Footer 	*/
footer{
	margin-top: 1em;
}
footer > p {
    font-size: .7em;
    margin-bottom: 0;
}
/*	 Borders	 */
.bordered {
	border-style: solid; 
	border-width: 20px 36px 29px 20px; 
	-moz-border-image: url('../_images/frame.png') 20 36 29 20 repeat; 
	-webkit-border-image: url('../_images/frame.png') 20 36 29 20 repeat; 
	-o-border-image: url('../_images/frame.png') 20 36 29 20 repeat; 
	border-image: url('../_images/frame.png')) 20 36 29 20 fill repeat;
	
}
.bordered_thin {
	border-style: solid; 
	border-width: 5px; 
	-moz-border-image: url('../_images/frame_thin.png') 20 22 23 18 repeat; 
	-webkit-border-image: url('../_images/frame_thin.png') 20 22 23 18 repeat; 
	-o-border-image: url('../_images/frame_thin.png') 20 22 23 18 repeat; 
	border-image: url('../_images/frame_thin.png') 20 22 23 18 fill repeat;
}
/*   Enemy Generator  */
.panel.ranGen#overlay {
    height: 200px;
}
.panel.ranGen#overlay .content {
    height: 150px;
}
.ranGen label {
    font-weight: bold;
}
#newChar.ranChar select {
    padding: .7em;
}
/*   Dice Roller  */
#overlay.dice {
    height: 600px;
    width: 30em;
}
a.toggleForm {
    background: rgba(154, 228, 255, 0.6);
    background-image: url('../_images/arrow_d.png');
    background-size: 100% 100%;
    color: #000;
    cursor:pointer;
    font-size: 1em;
    z-index: 1;
}
a.toggleForm.up {
    background-image: url('../_images/arrow_u.png');
}
.diceResults {
    background: url('../_images/dice.png') no-repeat;
    background-size: 100% 100%;
    margin-top: 2em;
    height: 5em;
    width: 5em;
}
.diceResults h1 {
    color: #000;
    font-family: "Lobster", cursive;
    height: 100%;
    padding-top: .9em;
    padding-right: .4em;
}
/*   Dice Results  */
.readOut {
    background: url('../_images/dice_bg.png') repeat;
    padding: 1em;
}
.readOut span.hBlue, .readOut span.hOrange {
    display: inline-block;
    padding: 0 1em;
}
.readOut span.hGreen, .readOut span.hRed {
    display: inline-block;
    padding: 0 .5em;
    margin-left: .5em ;   
}
.readOut span.hGreen {
    background: rgba(58, 255, 4, 0.26);
}
.readOut span.hRed {
    background: rgba(255, 4, 4, 0.26);
}
.readOut span.total {
    display: inline-block;
    background: rgba(250, 228, 0, 0.28);
    padding: 0 1em;
}
.readOut span.hBlue{
    background: rgba(135, 218, 253, 0.36);
}
.readOut span.hOrange {
    background: rgba(255, 184, 115, 0.5);
}
.readOut span.dice{
    background: url('../_images/dice.png') no-repeat;
    background-size: 100% 100%;
    width: 3.5em;
    height: 3.5em;
    padding-top: .8em;
    display: inline-block;
    padding-right: .3em;
    color: #000;
}
.readOut > div {
    border-bottom: 1px solid #839FB6;
    margin-bottom: 1em;
    padding-bottom: .5em;
}
.readOut div p {
    font-size: .8em;
    margin-bottom: 0;
    text-align: left;
}
.readOut div p > span {
    display: block;
    font-size: .8em;
    text-align: center;
}
/*   Dice Form  */
#diceRoll input {
    font-size: .8em;
    padding-left: .4em;
}
#diceRoll input[type='submit']{
    margin-top: 1em;
    padding: 0;
}
#diceRoll > .row > h2 {
    margin-top: .5em;
}
.
#diceRoll {
    margin-top: 1em;
}
#diceRoll a.toggleForm, #diceRoll h2 {
    margin: 1em auto .5em;
    text-align: left;
}
#diceRoll select > option.start {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font-weight: bold;
}
input[type="number"].dice {
        width: 25%;
}
#diceRoll label.character {
    background: rgba(255, 189, 114, 0.64);
    line-height: 1.2em;
    min-height: 2.8em;
    font-size: .8em;
    padding-top: 2%;
    width: 30.333333%;
    margin-right: 3%;
}
#diceRoll select {
    padding: .5rem;
}
#diceRoll > div.row > hr {
    margin-top: .5em;
    border-color: rgba(0, 196, 242, 0.64);
}
/*	 Scratchpad	 */
#scratchpad {
	padding-bottom: 1.5em;
}
textarea {
	background: transparent;
	font-size: .8em;
}
select {
	font-size: 0.8em;
	height: auto;
	padding: .5% 0;
}
input[type='submit']{
	background: #abddff;
	background-image: -webkit-linear-gradient(top, #abddff, #2aacfc);
	background-image: -moz-linear-gradient(top, #abddff, #2aacfc);
	background-image: -ms-linear-gradient(top, #abddff, #2aacfc);
	background-image: -o-linear-gradient(top, #abddff, #2aacfc);
	background-image: linear-gradient(to bottom, #abddff, #2aacfc);
	border-color: #1BC7DB;
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	-webkit-box-shadow: 0px 0px 8px #274c52;
	-moz-box-shadow: 0px 0px 8px #274c52;
	box-shadow: 0px 0px 8px #274c52;
	margin: 1% auto;
	padding: .3em 2em;
}
input[type='submit']:hover {
	background: #ffb361;
	background-image: -webkit-linear-gradient(top, #ffb361, #c27311);
	background-image: -moz-linear-gradient(top, #ffb361, #c27311);
	background-image: -ms-linear-gradient(top, #ffb361, #c27311);
	background-image: -o-linear-gradient(top, #ffb361, #c27311);
	background-image: linear-gradient(to bottom, #ffb361, #c27311);
	border-color: #FF8700;
}

/*	 Combat Calculator	 */
#combCalc p {
    margin-bottom: 0;
}
#combCalc input {
    padding: 2.5% 3%;
    height: auto;
}
#combCalc .bottomborder {
    border-bottom: 1px solid #B8CBD1;
    margin-bottom: 1em;
}
.cco {
	display: block;
	height: 16em;
	overflow-y: scroll;
	padding: .5em 1em;
}
.cco > p {
	font-size: .9em;
	margin-bottom: 0;
}
.cco > p > span {
	display: block;
	font-size: .6em;
	margin-left: 1.5em;
}
.cco > p.bold {
	border-bottom: 1px solid #919192;
	margin-bottom: 1em;
	padding-bottom: .5em;
}

/*	 File List	 */

.fl {
	margin-bottom: 2%;
	padding: 1% 2%;
	height: 8em;
	display: block;
	overflow-y: scroll;
}
.fl li {
    font-size: .8em;
    list-style-type: none;
    padding: 0 1%;
}
.fl li:hover {
	background: #BFF2FF;
}

/*	 File Upload	 */

input[type='file']{
	width: 15em;
}

/*	 NavBar	 */
nav li:first-of-type {
	border-left: 3px solid  #000;
}
nav  li  {
	border-right: 3px solid #000;	
}
nav {
	border-top: 3px solid rgb(0, 0, 0);
}
nav ul {
	border-bottom: 3px solid rgb(0, 0, 0);
}
nav .top-bar-section > ul > li.openPanel {
    background: #FFBD72;
}
.top-bar-section li:not(.has-form) a:hover:not(.button) {
	background: #1AA0C5;
}
.top-bar-section li:not(.has-form) a:active:not(.button) {
	background: #075353;
}
.top-bar, .top-bar-section, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li  {
	background: transparent;
	color: #000 ;	
}
.top-bar-section li:not(.has-form) a:not(.button) {
	font: 1em "Short Stack",cursive;
	padding: 1em;
}
/*	 Panel	 */
#overlay {
	background: url('../_images/paper_yellow.jpg');
	box-shadow: 0 0 7px 0px #C3B785;
	clear: both;
	display: inline-block;
	height: 450px;
	margin: 0px;
	min-width: 23em;
	overflow-y: scroll;
	padding: 1% 2%;
	position: absolute;
		bottom: 0;
		left: 0px;
	z-index: 5;
}

#overlay > header > h1 {
	display: inline-block;
	margin-left: 1em;
}
#overlay #switchSize {
	float: right;
}
#overlay .content {
    display: block;
    height: 400px;
}
#overlay object {
	background: rgba(255, 255, 255, 0.57);
	width: 800px;	
	height: 100%;
}

#overlay.panel.full {
	height: auto;
	width: auto;
	position: absolute;
	top: 0px;
	right: 0px;
}
#overlay.full > header {
    text-align: center;
}
#overlay.full > header  > h1 {
    width: 65%;
}
#overlay.full #switchSize {
	float: none;
}
#overlay.panel.full .content {
	height: 100%;
	width: 100%;
}
#overlay.panel.full img {
	width: auto;
}

.file {
	display:none;
}
/*  Char Form   */
#newChar {
    margin-top: 1em;
    padding: 1% 0;
}
#newChar > .row {
    background-color: rgba(255, 255, 255, 0.73);
    margin-bottom: 1em;
}
#newChar .row .row {
    margin: 0px 1em;
}
#newChar h2 {
    background: #8DD1FE;
    padding: 0.2em 0px;
}
#newChar select {
    padding: .7em 0;
}
.vert label {
    vertical-align: middle;
} 

// Small screens
@media only screen { 

} 

// Medium screens
@media only screen and (min-width: 40.063em) {/* min-width 641px, medium screens */
    
} 

// Large screens
@media only screen and (min-width: 64.063em) { 

} /* min-width 1025px, large screens */

