@import url(http://fonts.googleapis.com/css?family=Crushed|Handlee|Short+Stack);
body{
    background: url('../_images/paper.png');
 }
body > .row:nth-of-type(2) {
	font-family: 'Short Stack', cursive;
	padding: 1% 2%;
}
.red {
	color: red;
}
p.note {
	font-size: .8em;
	color: #AD5210;
	margin: 0;
}
.larger {
	font-size: 1.5em;
}
.highlight {
	background: #FFC79E;
}
.centerB {
	display: block;
}
.fullHeight {
	height: 40em;
}
.vert-center {
	top: 10%;
}
/*	 Rows	 */
.row {
	max-width: 95%;
	position: relative;
}
.row .row {
	margin: 0 auto;
	max-width: 100%;
}
body > .row > .columns > .row {
	margin-bottom: 2%;	
}

/*	 Header	 */
body > .row:first-of-type > header > h1 {
	color: #68C6F2;
	font: 3em 'Crushed', cursive;
	margin: 0 auto;
	text-shadow:0px 0px 0 rgb(10,124,155),1px 1px 0 rgb(-5,109,140),2px 2px 0 rgb(-19,95,126),3px 3px 0 rgb(-34,80,111),4px 4px 0 rgb(-48,66,97),5px 5px 0 rgb(-63,51,82), 6px 6px 0 rgb(-77,37,68),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
header > h2 {
	color: #89E6FF;
	font: 1em 'Handlee', cursive;
	margin-top: 0;
	text-shadow: 0 0px 2px #000;
}
h1 {
	font: 1.5em "Short Stack",cursive;
	color: #FF8C43;
	text-shadow: 0px 0px 1px #000;
	margin: 0px auto 1%;
}
/*	 Borders	 */
.bordered {
	border-style: solid; 
	border-width: 20px 36px 29px 20px; 
	-moz-border-image: url('../_images/frame.png') 20 36 29 20 repeat; 
	-webkit-border-image: url('../_images/frame.png') 20 36 29 20 repeat; 
	-o-border-image: url('../_images/frame.png') 20 36 29 20 repeat; 
	border-image: url('../_images/frame.png')) 20 36 29 20 fill repeat;
	
}
.bordered_thin {
	border-style: solid; 
	border-width: 5px; 
	-moz-border-image: url('../_images/frame_thin.png') 20 22 23 18 repeat; 
	-webkit-border-image: url('../_images/frame_thin.png') 20 22 23 18 repeat; 
	-o-border-image: url('../_images/frame_thin.png') 20 22 23 18 repeat; 
	border-image: url('../_images/frame_thin.png') 20 22 23 18 fill repeat;
}

/*	 Scratchpad	 */
#scratchpad {
	padding-bottom: 1.5em;
}
textarea {
	background: transparent;
	font-size: .8em;
}
select {
	font-size: 0.8em;
	height: auto;
	padding: .5% 0;
}
input[type='submit']{
	background: #abddff;
	background-image: -webkit-linear-gradient(top, #abddff, #2aacfc);
	background-image: -moz-linear-gradient(top, #abddff, #2aacfc);
	background-image: -ms-linear-gradient(top, #abddff, #2aacfc);
	background-image: -o-linear-gradient(top, #abddff, #2aacfc);
	background-image: linear-gradient(to bottom, #abddff, #2aacfc);
	border-color: #1BC7DB;
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	-webkit-box-shadow: 0px 0px 8px #274c52;
	-moz-box-shadow: 0px 0px 8px #274c52;
	box-shadow: 0px 0px 8px #274c52;
	margin: 1% auto;
	padding: .3em 2em;
}
input[type='submit']:hover {
	background: #ffb361;
	background-image: -webkit-linear-gradient(top, #ffb361, #c27311);
	background-image: -moz-linear-gradient(top, #ffb361, #c27311);
	background-image: -ms-linear-gradient(top, #ffb361, #c27311);
	background-image: -o-linear-gradient(top, #ffb361, #c27311);
	background-image: linear-gradient(to bottom, #ffb361, #c27311);
	border-color: #FF8700;
}

/*	 Combat Calculator	 */
#combCalc p {
    margin-bottom: 0;
}
#combCalc input {
    padding: 2.5% 3%;
    height: auto;
}
#combCalc .bottomborder {
    border-bottom: 1px solid #B8CBD1;
    margin-bottom: 1em;
}
.cco {
	display: block;
	height: 16em;
	padding: .5em 1em;
}
.cco > p {
	margin-bottom: 0;
}
.cco > p > span {
	display: block;
	font-size: .6em;
}

/*	 File List	 */

.fl {
	margin-bottom: 2%;
	padding: 1% 2%;
	height: 8em;
	display: block;
	overflow-y: scroll;
}
.fl li {
    font-size: .8em;
    list-style-type: none;
    padding: 0 1%;
}
.fl li:hover {
	background: #BFF2FF;
}

/*	 File Upload	 */

input[type='file']{
	width: 15em;
}

/*	 NavBar	 */
nav li:first-of-type {
	border-left: 3px solid  #000;
}
nav  li  {
	border-right: 3px solid #000;	
}
.top-bar {
	border-top: 3px solid rgb(0, 0, 0);
}
.top-bar-section li:not(.has-form) a:hover:not(.button) {
	background: #1AA0C5;
}
.top-bar-section li:not(.has-form) a:active:not(.button) {
	background: #075353;
}
.top-bar, .top-bar-section, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li  {
	background: transparent;
	color: #000 ;	
}
.top-bar-section li:not(.has-form) a:not(.button) {
	font: 1em "Short Stack",cursive;
	padding: 1em;
}
/*	 Panel	 */
#overlay {
	background: url('../_images/paper_yellow.jpg');
	box-shadow: 0 0 7px 0px #C3B785;
	clear: both;
	display: inline-block;
	height: 450px;
	margin: 0px;
	min-width: 23em;
	overflow-y: scroll;
	padding: 1% 2%;
	position: absolute;
		bottom: 0;
		left: 0px;
	z-index: 5;
}

#overlay > header > h1 {
	display: inline-block;
	margin-left: 1em;
}
#overlay #switchSize {
	float: right;
}
#overlay .content {
    display: block;
    height: 400px;
}
#overlay object {
	background: rgba(255, 255, 255, 0.57);
	width: 800px;	
	height: 100%;
}


#overlay.panel.full {
	height: auto;
	width: auto;
	position: fixed;
	top: 0px;
	right: 0px;
}
#overlay.full > header {
    text-align: center;
}
#overlay.full > header  > h1 {
    width: 65%;
}
#overlay.full #switchSize {
	float: none;
}
#overlay.panel.full .content {
	height: 100%;
	width: 100%;
}
#overlay.panel.full img {
	width: auto;
}

.file {
	display:none;
}
/* 

// Small screens
@media only screen { 
	
	} /* Define mobile styles */

// Medium screens
@media only screen and (min-width: 40.063em) {/* min-width 641px, medium screens */

} 

// Large screens
@media only screen and (min-width: 64.063em) { 

} /* min-width 1025px, large screens */

